.opencode/config/*
!.opencode/config/AGENTS.md
!.opencode/config/agents
!.opencode/config/commands
!.opencode/config/skills
!.opencode/config/tools
!.opencode/config/opencode.jsonc.base.dist

.opencode/share/*
!.opencode/share/.gitkeep

package-lock.json

compose.override.yml

.idea

.env
docker/Dockerfile.generated
