{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "share": "disabled",
  "permission": {
    "bash": "ask"
  },
  "mcp": {
    // injection marker for MCP plugin configuration fragments; see docker/plugins/plugin.dockerfile.dist for details
    // {{mcp-plugins}}
  },
  "plugin": [
      "oh-my-opencode-slim"
    ],
    "lsp": true
}
